SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=your-vps-ip,your-domain.com

# PostgreSQL container
POSTGRES_DB=online_store
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password

# Django DB connection
DB_ENGINE=django.db.backends.postgresql
DB_NAME=online_store
DB_USER=postgres
DB_PASSWORD=your-password
DB_HOST=db
DB_PORT=5432
DB_SSLMODE=disable