{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title mb-4">Всі товари</h2>
        
        <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            
          <div class="categories-filter mb-5">
            <h4 class="mb-3">Категорії:</h4>
              <div class="d-flex gap-2 flex-wrap">
                <a href="#" class="btn btn-dark">Всі</a>
                {% for category in categories %}
                  <a href="#" class="btn btn-outline-dark">{{ category.name }}</a>
                {% empty %}
                <p>Категорій поки немає</p>
              {% endfor %}
            </div>
          </div>
          
        </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}